<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, \
    initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
    <title>{% block title %}Pickem App{% endblock title %}</title>
  </head>

  <body>



    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="{% url 'home' %}">NFL Pickem</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"\
      data-target="#navbarCollapse" aria-controls="navbarCollapse"\
      aria-expanded="false" aria-label="toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'team-list' %}">Managers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'rules' %}">Rules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'news-list' %}">News</a>
          </li>

          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Fun Stuff
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'power-rankings' %}">Power Rankings</a>
          <a class="dropdown-item" href="{% url 'quiz_list' %}">Trivia</a>

        </div>



          <!-- <li class="nav-item">
            <a class="nav-link" href="{% url 'power-rankings' %}">Power Rankings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'quiz_list' %}">Trivia</a>
          </li> -->
        </ul>
      </div>

    </nav>
    <div class="container">
      {% block content %}
      {% endblock content %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
  </body>
</html>
