{% extends 'base.html' %}

{% block title %}Power Rankings{% endblock title %}

{% block content %}
<div>
<h2>Preseason Power Rankings</h2>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Rank</th>
      <th scope="col">Manager</th>
      <th scope="col">Analysis</th>

    </tr>
  </thead>
  <tbody>
    <tr class="table-success">
      <th scope="row">1</th>
      <td>Bobby S.</td>
      <td>The man with the Midas touch is back at it. The lineal champ
          of the Trash Can League. He might not know if he can come to dinner
          but he definitely knows this game. The rest of the league has been
          put on notice.</td>

    </tr>
    <tr class="table-success">
      <th scope="row">2</th>
      <td>Josh</td>
      <td>All you need is his <a href="pic.twitter.com/8x524vYiYY" target="_blank">motto</a>: "As flies to wanton boys, we are for the gods.
          They kill us for sport. Soon the science will not only be able to slow
          down the aging of the cells. Soon the science will fix the cells to
          the state. And so we become eternal. Only accidents, crimes, wars will
          still kill us.But unfortunately crimes, and wars, will multiply. I
          love football. Thank you."</td>

    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Cyrus</td>
      <td>An analytical manager who never lets emotion get in the way of good decision
          making (minus a trade here or there). Will be interesting to how he does with
          the new format.</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Nick</td>
      <td>Consistent. Infailable. Sees the forest through the trees. Another productive
          year awaits.</td>

    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Arash</td>
      <td>The man making big moves in life probably won't be making them in this league
          but he won't be bothered. Cheers!</td>

    </tr>
    <tr class='table-warning'>
      <th scope="row">6</th>
      <td>Adam</td>
      <td>A horrendous finish to last year. I mean terrible but it's
          no surprise. Will he ever get away from the 'g-factor' meter?
          We somehow doubt it.</td>
    </tr>
    <tr class="table-danger">
      <th scope="row">7</th>
      <td>Amir Hossein</td>
      <td>We still are not sure he exists but he had Esteghlal
          on top of his draft board. Imagine that!</td>

    </tr>
    <tr class="table-danger">
      <th scope="row">8</th>
      <td>Kevin</td>
      <td>A man in search of his first championship but it's not
          going to come here. He has the talent but always comes
          up lacking. Minimal luck factor will also weigh heavy on him.</td>
    </tr>
  </tbody>
</table>

{% endblock content %}
