{% extends 'base.html' %}

{% load static %}

{% block title %}Rules{% endblock title %}

{% block content %}
<h2>NFL Pick'em Rules</h2>
<p>
    Each manager chooses 4 NFL team and the manager with the most
    wins at the end of the regular season is the champ. The draft
    is a snake draft, just like in fantasy football. First tiebreaker
    is head to head record. Second tiebreaker is points scored.
</p>
<p>If you have any questions I refer you to the Kommish.</p>

<img src="/static/images/kommish.jpeg" style="width:500px;height:600px" alt="guy in turtleneck">
{% endblock content %}
