{% extends 'base.html' %}

{% block title %}Manager: {{ object.manager }}{% endblock title %}

{% block content %}
<h2>{{ object.manager }}</h2>
<table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Teams</th>
                <th scope="col">Record</th>
                <th scope="col">Points For</th>

            </tr>
        </thead>

        <tbody>

            {% for team in object.get_indv_team_data %}

            <tr>
            <td>{{ team.0 }}</td>
            <td>{{ team.1 }}</td>
            <td>{{ team.2 }}</td>
            </tr>

            {% endfor %}
            <tr>
            <th scope="row">Total</th>
            <th scope="row"> {{ object.get_manager_record }}</th>
            <th scope="row">{{ object.get_pointsfor }}</th>
            </tr>
        </tbody>

    </table>

{% endblock content %}
