{% extends 'base.html' %}

{% block title %}Manager: {{ object.manager.last_name }}{% endblock title %}

{% block content %}
<h2>Manager: {{ object.manager }}</h2>
<table class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Teams</th>
                <th scope="col">Record</th>
                <th scope="col">Points For</th>
                <th scope="col">Winning %</th>
            </tr>
        </thead>

        <tbody>
            <tr>
            <td>{{ object.team1}}/{{ object.team2}}/{{ object.team3}}/{{ object.team4}}</td>
            <td>{{ object.get_wins }}-{{ object.get_losses }}-{{ object.get_ties }}</td>
            <td>{{ object.get_pointsfor }}</td>
            <td>{{ object.get_winning_percentage }}</td>
            </tr>

        </tbody>

    </table>

{% endblock content %}
