{% extends 'base.html' %}

{% block title %}Manager List{% endblock title %}

{% block content %}


    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Manager</th>
                <th scope="col">Teams</th>

            </tr>
        </thead>

        <tbody>
          {% for team in object_list %}
            <tr>
            <th scope='row'><a href="{% url 'team-detail' team.pk %}">{{ team.manager.get_name }}</a></td>
            <td>{{ team.team1}}/{{ team.team2}}/{{ team.team3}}/{{ team.team4}}</td>

            </tr>
          {% endfor %}
        </tbody>

    </table>

{% endblock content %}
